/* Lateral */
.menu-lateral{
    width: 30vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lateral > nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral > nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil-menu {
    margin: 0 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}
.icones-aside {
    width: 3rem;
}
.menu-lateral a{
    margin: 0.4rem 0rem;
}
#barra-indicacao{
    height: 3.3rem;
    width: 0.3rem;
    border-radius: 1.3rem;
    background-color: white;
}
#espaco{
    height: 3.3rem;
    width: 0.3rem;
    border-radius: 1.3rem;
}
