/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
    margin-left: 3rem;
}

/* Lateral */
.menu-lateral{
    width: 30vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lateral > nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral > nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil-menu {
    margin: 0 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}
.icones-aside {
    width: 3rem;
}
.menu-lateral a{
    margin: 0.4rem 0rem;
}

/* Conteudo */
main {
    min-height: 100dvh;
    min-width: 75dvw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}

/* BEM-VINDO */
.informacoes>h1 {
    margin-bottom: 2rem;
    color: white;
    font-size: xx-large;
    font-weight: 400;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 98%;
    height: 98%;
    padding: 2rem;
}

/* BEM-VINDO > cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    width: 80%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    background: var(--box-gradient);
    border-radius: 18px;
    padding: 1rem 2rem;

    height: 48vh;
    width: 24rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info h2 {
    font: italic 700 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin: 0 0 1rem 0;
}

.card-info p {
    margin: 0.4rem 0;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    margin: 0.5rem 0px;
}

/* BEM-VINDO > cards > grafico */
#graficos-manutencao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;

    max-height: 80%;
    max-width: 96%;
    gap: 0.4rem;
}
.g {
    /* border: 1px solid red; */
    max-width: 100%;
    max-height: 100%;
}

/* BEM-VINDO > cards > descricao-grafico */
.descricao-grafco {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0px;
}

.descricao-grafco div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.cor-grafico {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #000;
}

.cor1 {
    background-color: #60F090;
}

.cor2 {
    background-color: #0B7FCC;
}

.cor3 {
    background-color: #F06060;
}