/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
}


/* Menu lateral */
.menu-lateral {
    min-width: 25dvw;
    min-height: 100dvh;
    background: none;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-lateral nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    width: 100%;
    align-items: center;
}

.menu-lateral nav a {
    display: flex;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
}

/* Conteudo */
main {
    min-height: 100dvh;
    min-width: 75dvw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}

/* FUNCIONARIOS */
.funcionarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 90%;
    padding: 1.6rem;
    border-radius: 15px;
}

/* FUNCIONARIOS > Barra superior */
.top-bar {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.top-bar div {
    display: flex;
    align-items: center;
}

/* FUNCIONARIOS > Barra superior > Icones */
.icon-acomp {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

.icon-user {
    width: 4rem;
    height: 4rem;
}

/* FUNCIONARIOS > Barra superior > Botão caneta */
.bt-edit-perfil {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background: none;
    border: none;
    padding: 1rem;

    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.bt-edit-perfil:hover {
    background-color: #D1D5DB;
    border-radius: 10px;
    transition: 0.3s;
    transform: scale(1.05);
}

/* FUNCIONARIOS > Barra superior > Barra pesquisa */
.input-search {
    background-color: #D9D9D9;
    border: none;
    padding: 0.6rem 0 0.6rem 1.5rem;
    border-radius: 10px;
    margin-inline: 0.4rem;
    font-size: 1.2rem;
    width: clamp(200px, 50%, 400px);
    height: 3rem;
}

/* FUNCIONARIOS > tabela */
.table-container {
    width: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
}

.table-users {
    text-align: center;
}

.table-header,
.table-left-row {
    display: grid;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
}

.table-header {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #202B45;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
    min-height: 46px;
    min-width: 100%;
}

.add-user {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.table-row {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.table-left-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 0.3rem;
    min-height: 46px;
    font-size: larger;
}

.table-header div {
    display: flex;
    justify-content: center;
}

.table-row:nth-child(even) .table-left-row,
.table-row:nth-child(even) .actions {
    background-color: #D1D5DB;
}

.table-row:nth-child(odd) .table-left-row,
.table-row:nth-child(odd) .actions {
    background-color: #EDEDED;
}

/* FUNCIONARIOS > tabela > Boões de ação */
.actions {
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    margin: 0.3rem;
    padding: 0.5rem;
    min-height: 46px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #A3A3A3;
    border-radius: 6px;
}

.actions img {
    width: 1.4rem;
    height: 1.4rem;
}

/* FUNCIONARIOS >  Barra inferior */
.inf-bar {
    width: clamp(300px, 33%, 800px);
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.bt-prev,
.bt-prox {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    gap: 0.4rem;
}

.bt-prev img,
.bt-prox img {
    width: 2rem;
    height: 2rem;
}

.paginas {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.pag-active,
.pag {
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.pag-active,
.pag:hover {
    background-color: #D1D5DB;
}

/* BEM-VINDO */
.informacoes>h1 {
    margin-bottom: 2rem;
    color: white;
    font-size: xx-large;
    font-weight: 400;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 98%;
    height: 98%;
    padding: 2rem;
}

/* BEM-VINDO > cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    width: 80%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    background: var(--box-gradient);
    border-radius: 18px;
    padding: 1rem 2rem;

    height: 48vh;
    width: 24rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info h2 {
    font: italic 700 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin: 0 0 1rem 0;
}

.card-info p {
    margin: 0.4rem 0;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    text-align: center;
}

/* BEM-VINDO > cards > grafico */
.card-info canvas {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    margin-block: 1rem;
}

/* BEM-VINDO > cards > descricao-grafico */
.descricao-grafco {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.descricao-grafco div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.cor-grafico {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #000;
}

.cor1 {
    background-color: #60F090;
}

.cor2 {
    background-color: #0B7FCC;
}

.cor3 {
    background-color: #F06060;
}