/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */
main {
    background-color: white;
    width: 80%;
    margin: 2rem 2rem 2rem 0;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid black;
}
#main-senha{
    width: 135vw;
}

/* Cabeçalho do main */
#infos-inicial {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-right: 2rem;
    gap: 2rem;
}

#infos-inicial h1 {
    font-size: 3rem;
}

#infos-inicial h2 {
    font-size: 2rem;
    font-weight: normal;
}

#perfil-main {
    width: 9rem;
}

/* Para perfil.html */
.div-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.conjunto-input {
    display: flex;
    gap: 15rem;
    margin: 1.3rem 7rem;
}

.div-inputs input,
.div-forms-altSenha input {
    width: 25rem;
    height: 4.5rem;
    border: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    opacity: 0.97;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.div-inputs label {
    font-size: 2rem;
}

/* Para novaSenha */
.div-forms-altSenha {
    display: flex;
    flex-direction: column;
    margin: 2rem 7rem;
}

.div-forms-altSenha p {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0.8rem 0;
    width: 60rem;
}

.div-forms-altSenha label {
    font-size: 2rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

#botoes-forms-altSenha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    margin-top: 2rem;
}

/* Botões */
#button-cancelar {
    background-color: #D1D5DB;
}

.icones-botao {
    width: 2.3rem;
    margin-bottom: 0;
}

#button-confirmar {
    background-color: #2F416B;
    color: white;
}

#botoes {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}
#botoes button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: 0.8rem;
    width: 12rem;
    height: 6rem;
    cursor: pointer;
    margin: 1rem;
    padding-top: 2rem;
}

#botoes-forms-altSenha button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: 0.8rem;
    width: 12rem;
    height: 6rem;
    cursor: pointer;
    margin: 1rem;
    padding-top: 2rem;
}

#button-confirmar:hover,
#button-cancelar:hover {
    filter: brightness(0.9);
}

#botoes button p {
    margin-top: 0.7rem;
    font-size: 1.5rem;
}

#ultima-linha {
    display: flex;
    justify-content: space-between;
    margin: 1.3rem 7rem;
}
#ultima-linhaSenha{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    align-items: end;
}
#caixa-alterarSenha{
    background-color: #202B45;
    font-size: large;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.8rem;
}
#caixa-excluirConta{
    background-color: #F06060;
    font-size: large;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.8rem;
}
.erroCaixa {
    padding: 1rem;
    background-color: #F06060;
    font-size: medium;
    border-radius: 0.8rem;
}
#realizado{
    padding: 1rem;
    color: white;
    background-color: #1F2A44;
    font-size: medium;
    border-radius: 0.8rem;
}

#caixa-alterarSenha
#caixa-excluirConta,
.erroCaixa,
#realizado {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

#caixa-alterarSenha a,
#caixa-alterarSenha a:visited,
#caixa-alterarSenha a:hover,
#caixa-alterarSenha a:active {
    color: white;
    text-decoration: none;
}
#caixa-excluirConta a,
#caixa-excluirConta a:visited,
#caixa-excluirConta a:hover,
#caixa-excluirConta a:active{
    color: black;
    text-decoration: none;
}


