@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
#caixa-excluir{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background-color: white;
    position: fixed;
    width: 45rem;
    border-radius: 0.8rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
} 
#caixa-excluir p{
    font-size: 1.6rem;
}
#cancelar{
    background-color: #105889;
    color: white;
}

.botoes-excluir-container{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.botoes-excluir{
    border-radius: 0.8rem;
    padding: 1.2rem 3.5rem;
    border: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
    margin: 0.5rem 1.5rem 2rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
}
#atencao{
    width: 4.5rem;
    margin: 1.6rem 0rem 0rem 0rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

.modal-overlay, #caixa-excluir {
    display: none;
}
.modal-overlay.mostrar-excluir {
    display: block;
}

#caixa-excluir.mostrar-excluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}