/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
    margin-left: 3rem;
}

/* Lateral */
.menu-lateral{
    width: 17vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lateral > nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral > nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil-menu {
    margin: 0 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}
.icones-aside {
    width: 3rem;
}
.menu-lateral a{
    margin: 0.4rem 0rem;
}

/* Principal */
main {
    height: 100dvh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    transition: all 0.3s ease-in-out;
}

.conteudo-container {
    background-color: white;
    width: 98%;
    height: 92%;
    margin: 4rem 2rem 2rem 2rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

/* Parte de cima */
.top-bar {
    margin: 1rem;
}

.procurar-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.form-buscar{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.bt-buscar {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
    align-items: center;
}

.input-search {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 1.2rem;
    height: 3rem;
}

/* tabela */
/* Estilos da Tabela */
.tabela {
    min-width: 100%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #202B45 transparent;
}

/* Header da Tabela */
.table-header {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #202B45;
    border-radius: 8px;
}

.th-esquerda {
    width: 82%;
    margin: 0 1rem 0 0;

    display: grid;
    align-items: center;
    grid-template-columns: 4rem repeat(auto-fit, minmax(5rem, 1fr));
    /* justify-content: space-between; */

    color: white;
    font-weight: 500;
    font-size: 14px;
}

.header-cell {
    display: flex;
    align-items: center;
}

.header-action {
    justify-content: flex-end;
    width: 18%;
}

/* Botão Adicionar */
.bt-adicionar {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s;
    /* min-width: 20rem; */
}

.bt-adicionar:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.bt-adicionar img {
    width: 16px;
    height: 16px;
}

/* Linhas da Tabela */
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 14px;
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
}

.table-row:nth-child(even) div{
    background-color: #D1D5DB;
    color: black;
}

.table-row:nth-child(odd) div{
    background-color: #EDEDED;
    color: black;
}

.t-esquerda {
    width: 81%;
    margin: 0 1rem 0 0;
    display: grid;
    grid-template-columns: 4rem repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
    justify-content: center;
    padding: 0 0 0 20px;
    height: 100%;
    border-radius: 8px;
}

.table-cell {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

/* Coluna de Ações */
.table-actions {
    height: 100%;
    display: flex;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
    padding: 0 20px;
}

/* Botões de Ação */
.bt-editar,
.bt-excluir {
    border: none;
    background: none;
    gap: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.bt-editar:hover,
.bt-excluir:hover {
    opacity: 0.5;
    transition: proptime;
}

.bt-editar img,
.bt-excluir img {
    width: 20px;
    height: 20px;
}

/* passar pagina */
.inf-bar {
    display: flex;
    align-items: center;
}

.paginas {
    display: flex;
    margin: 0 1rem;
    gap: 0.2rem;
}

.inf-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.inf-bar button:hover {
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.bt-prev,
.bt-prox {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bt-prev img,
.bt-prox img {
    width: 1.6rem;
    height: auto;
}
