/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
}

/* Lateral */
.menu-lateral {
    width: 17vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-lateral>nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral>nav>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}

.icones-aside {
    width: 3rem;
}

.menu-lateral a {
    margin: 0.4rem 0rem;
}

/* principal */
main {
    height: 100dvh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    transition: all 0.3s ease-in-out;
}

.conteudo-container {
    width: 98%;
    height: 92%;
    padding: 2rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

/* Parte das informações */
.cabecalho-info {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem;
}

.infos,
.fd-right,
.info-dados {
    display: grid;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.infos {
    grid-template-columns: repeat(6, 1fr);
    background-color: #202B45;
    border-radius: 0.8rem;
    height: 6rem;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}

.infos button {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #F0F6FD;
    color: #202B45;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.infos button:hover {
    background-color: #D1D5DB;
}

.info-dados {
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}

.info-dados>* {
    background-color: #D1D5DB;
    border-radius: 0.8rem;
    border: none;
    height: 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.info-dados button {
    cursor: pointer;
}

.info-dados button:hover {
    background-color: #B0B7C3;
}

.fd-right {
    grid-template-columns: repeat(5, 1fr);
}

/* Parte de edição */
.area-edicao {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-self: center;
    justify-self: center;
}

.campo-edicao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

.campo-edicao label {
    font-size: 2rem;
    font-weight: 500;
}

.campo-edicao input,
.campo-edicao textarea {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "Roboto", sans-serif;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.campo-edicao textarea {
    max-width: 36rem;
    transition: 0.05s;
}