@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    max-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
    margin-left: 1.6rem;
}

/* Lateral */
.menu-lateral {
    width: 17vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lateral>nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral>nav>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.4rem 0rem;
}

.perfil-menu {
    margin: 0 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}

.icones-aside {
    width: 3rem;
}

/* Principal */
main {
    height: 100dvh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    transition: all 0.3s ease-in-out;
}

.conteudo-container {
    width: 98%;
    height: 92%;
    padding: 2rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

/* Header da Tabela */
.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202B45;
    padding: 15px 20px;
    border-radius: 8px;
}

.th-esquerda {
    width: 82%;
    margin: 0 1rem 0 0;
    display: grid;
    align-items: center;
    grid-template-columns: 4rem repeat(auto-fit, minmax(5rem, 1fr));
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.header-cell {
    display: flex;
    align-items: center;
}

.header-action {
    justify-content: flex-end;
    width: 20rem;
    height: 4.2rem;
}

.table-header button {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #F0F6FD;
    color: #202B45;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.table-header button:hover {
    background-color: #D1D5DB;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 14px;
    height: 60px;
    width: 100%;
}

.table-row>* {
    background-color: #D1D5DB;
    border-radius: 0.8rem;
    border: none;
    height: 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.t-esquerda {
    width: 82%;
    margin: 0 1rem 0 0;
    display: grid;
    grid-template-columns: 4rem repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
    justify-content: center;
    padding: 0 0 0 20px;
    height: 100%;
    border-radius: 8px;
}

.table-cell {
    display: flex;
    align-items: center;
}

.table-row button {
    cursor: pointer;
    background-color: #D1D5DB;
    border-radius: 0.8rem;
    border: none;
    height: 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.table-row button:hover {
    background-color: #B0B7C3;
}

.btn-sair {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    border: none;
    background: none;
    gap: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#sair-edicao {
    width: 3.5rem;
    margin-right: 1rem;
}

#salvar-edicao {
    width: 2.5rem;
    margin-right: 0.7rem;
}

/* Área de Edição */
.area-edicao {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    align-self: center;
    justify-self: center;
}

.campo-edicao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.4rem 0rem;
}

.campo-edicao label {
    font-size: 2rem;
    font-weight: 500;
}

.campo-edicao input {
    width: 100%;
    height: 4.7rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "Roboto", sans-serif;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.campo-edicao input[type="date"] {
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 800px) {
    * {
        border: none;
        box-sizing: border-box;
    }

    body {
        flex-direction: column;
        width: clamp(100px, 100%, 100dvw);
        min-height: 100dvh;
        align-items: center;
        justify-content: flex-start;
    }

    .menu-lateral {
        width: 100%;
        height: 20vh;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem 0.5rem;
    }

    .menu-lateral>nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        gap: 1rem;
        max-width: 50%;
    }

    .menu-lateral>nav>a {
        font-size: 1.2rem;
        gap: 0.5rem;
    }

    .perfil-menu {
        margin: 0;
        font-size: 1.2rem;
        gap: 0.5rem;
    }

    #logo {
        height: 70px;
        width: 120px;
    }

    main {
        width: 92%;
        height: auto;
        padding: 1rem 0;
    }

    .campo-edicao label {
        font-size: 1.6rem;
    }
}