/* Importando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Determinando a base */
:root {
    --body-gradient: linear-gradient(130deg, rgba(0, 0, 0, 1) 10%, rgba(0, 24, 51, 1) 34%, rgba(3, 39, 79, 1) 52%, rgba(16, 88, 137, 1) 83%);
    --footer-gradient: linear-gradient(to left, rgba(30, 30, 30, 1), rgba(68, 68, 68, 1));
    --box-gradient: linear-gradient(to right, rgba(16, 88, 137, 0.5), rgba(4, 22, 35, 0.5));
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* Principal */
body {
    background: var(--body-gradient);
    min-height: 100dvh;
    min-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: clamp(94px, 94%, 188px);
    height: auto;
    margin-left: 3rem;
}

/* Lateral */
.menu-lateral{
    width: 17vw;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-lateral > nav {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    gap: 1rem;
}

.menu-lateral > nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.perfil-menu {
    margin: 0 0 0 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    color: white;
}

.perfil-menu img {
    width: 5rem;
}
.icones-aside {
    width: 3rem;
}
.menu-lateral a{
    margin: 0.4rem 0rem;
}

/* Principal */
main {
    height: 100dvh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    transition: all 0.3s ease-in-out;
}

.conteudo-container {
    background-color: white;
    width: 96%;
    height: 94%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

/* Parte de cima */
.top-bar {
    margin: 1rem;
}

.procurar-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.input-search {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 1.2rem;
}

/* tabela */
.tabela {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.8rem;
    margin: 2rem 0rem 4rem 0rem;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.table-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #202B45;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
}

.table-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-height: 5rem;
    font-size: 90%;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem 2rem;
}

.table-header button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.table-row {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 6rem;

}

.table-row:nth-child(odd) * {
    background-color: #EDEDED;
}

.table-row:nth-child(even) * {
    background-color: #D1D5DB;
}

.table-left-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    text-align: center;
    gap: 0.4rem;
    height: 100%;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
}

.table-right-row {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 6rem;
    height: 100%;
    border-radius: 8px;
    gap: 0.4rem;
}

.table-right-row button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem 0.8rem;
    font-size: 82%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background: none;
    font-size: 1.1rem;
    font-weight: 500;
}

/* passar pagina */
.inf-bar {
    display: flex;
    align-items: center;
}

.paginas {
    display: flex;
    margin: 0 1rem;
    gap: 0.2rem;
}

.inf-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.inf-bar button:hover {
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.bt-prev,
.bt-prox {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bt-prev img,
.bt-prox img {
    width: 1.6rem;
    height: auto;
}